<div class="container padded">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1><%= @cocktail.name %></h1>
        <% @cocktail.doses.each do |dose| %>
          <div class="list-dose">
          <ul>
            <li class="list-inline">
              <%= dose.description %> | <%= dose.ingredient.name %>
              <%= link_to cocktail_path(@cocktail),
                    method: :delete,
                    data: {confirm: "Sure?"} do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </li>
          </ul>
          </div>
        <% end %>
      <br><br>
      <%= simple_form_for([ @cocktail, @dose ]) do |form| %>
        <%= form.association :ingredient %>
        <%= form.input :description %>
        <%= form.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

