<div class="container padded">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path @cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
        <div class="card-description"><h2><%= @cocktail.name %></h2>
        <% @cocktail.doses.each do |dose| %>
          <ul>
            <li class="list-inline">
              <%= dose.ingredient.name %> | <%= dose.description %>
              <%= link_to cocktail_path(@cocktail),
                    method: :delete,
                    data: {confirm: "Sure?"} do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
        </div>
      </div>
      <br><br>
      <div class="formulaire">
        <%= simple_form_for([ @cocktail, @dose ]) do |form| %>
          <%= form.association :ingredient %>
          <%= form.input :description %>
          <%= form.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 400, height: 300, crop: :fill %>
<% end %>

